*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.container{
    width: 380px;
    height: 400px;
    border: 1px solid red;
    margin: 100px auto;
    position: relative;

}
.container .content{
    width: 350px;
    position: absolute;
    left: 0;
    top: 0;
}
.container .scroll{
    width: 28px;
    height: 398px;
    border: 1px solid black;
    position: absolute;
    right: 0;
    top: 0;
}
.scroll li{
    width: 100%;
}
.scroll li.up,
.scroll li.down{
    height: 28px;
    width: 100%;
    cursor: pointer;
}
.scroll li img{
    width: 100%;
    height: 100%;
}
.scroll .duration{
    height: 342px;
    position: relative;
    width: 100%;
}
.container .scroll .duration .bar{
    position: absolute;
    left: 0;
    width: 0;
    width: 100%;
    background: red;
    cursor: -webkit-grabbing;
}